h3 Profil utilisateur

table(border=1)
  tr
    th Id
    td= user.id
  tr
    th Pseudo
    td= user.pseudo
  tr
    th Password
    td= user.password
  tr
    th Firstname
    td= user.firstname
  tr
    th Lastname
    td= user.lastname
  tr
    th Email
    td= user.email